header {
    background-color: rgb(27, 33, 128);
    text-align: center;
}

.hide {
    display: none;
}

ul {
    list-style: none;
    font-size: small;
    padding-left: 3px;
    margin: 3px;
}

.uv-green {
    background-color: green;
}

.uv-yellow {
    background-color: rgb(241, 241, 22);
}

.uv-red {
    background-color: red; 
}